# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
static/

# ignore all .pyc files
*.pyc

# ignore all __pycache__ directories
__pycache__

# Migrations
# **/migrations/*.py
# !**/migrations/__init__.py

# Environment
.env
.env.local
.venv
env/
venv/
ENV/

# Poetry
poetry.lock

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
*.cover
.pytest_cache/

# VS Code
.vscode/

# PyCharm
.idea/
*.iws
.idea_modules/

# Other
*.swp
.DS_Store